*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    color: #00e78a;
    background-color:#272727;
}

.container-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    height: 100vh;
    
}

label{
    font-size: 20px;
    
    margin-bottom: 10px;
}

.input-cep{
    width: 500px;
    height: 5%;
    font-size: 15px;
    
    border-radius: 10px;
    border: none;

    text-align: center;

    box-shadow:0 0 2em #00e78a;
    color: #007244;
}

.btn-cep{
    margin: 20px 10px;

    height: 30px;
    width: 100px;
    
    border-radius: 10px;
    cursor: pointer;
    

    color: aliceblue;
    background-color:#272727;
}

.saida-cep{
    
    width: 40%;
    overflow: hidden;
}

@media (max-width: 505px) {
    .input-cep {
        width: 90%;
    }
}
